<div class="container p-3">
  <h3>Manual Tests</h3>
  <label>Project:
    <select [(ngModel)]="selectedProjectId" (change)="loadTests()">
      <option [value]="0">-- select --</option>
      <option *ngFor="let p of projects" [value]="p.id">{{p.name}}</option>
    </select>
  </label>

  <div class="mt-3">
    <h4>Create Test Case</h4>
    <input placeholder="Title" formControlName="title" [(ngModel)]="newTestForm.value.title"/>
    <div *ngFor="let s of steps.controls; index as i">
      <input [(ngModel)]="steps.controls[i].value" />
    </div>
    <button (click)="addStep()">Add step</button>
    <button (click)="createTest()">Create</button>
  </div>

  <hr />
  <h4>Test Cases</h4>
  <ul>
    <li *ngFor="let t of testcases">
      <strong>{{t.title}}</strong>
      <button (click)="runTest(t)">Run</button>
      <div *ngIf="t.steps"><small *ngFor="let s of t.steps">{{s}} | </small></div>
    </li>
  </ul>
</div>
